@import "tailwindcss";

:root {
  --background: #d8d8d8;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-condensed);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-condensed), sans-serif;
  font-size: 13px;
}
